.calendar-master {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #345995;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: scale(0);
  transition: 0.3s;
  border-radius: 50%;
}

.calendar-master.active{
  visibility: visible;
  transform: scale(1);
  border-radius: 0;
}

.calendar {
  width: 450px;
  height: 500px;
  background-color: #333;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transform: scale(1);
  visibility: visible;
  transition: 0.3s;
}

.calendar.active{
  scale: (0);
  visibility: hidden;
  transition: 0.3S;
}

.month {
  width: 100%;
  height: 120px;
  background-color: #5D7AAA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  font-weight: 500;
  border-radius: 10px;
}

.month i {
  font-size: 1.5rem;
  cursor: pointer;
  
}

.month h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.month p {
  font-size: 1.1rem;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  height: 50px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.weekdays div {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  width: calc(440px / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  transition: 0.3s;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  transition: 0.3s;
}

.days div {
  font-size: 0.9rem;
  margin: 3px;
  width: calc(400px / 7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  transition: 0.3s;
  border-radius: 10px;
}

.days div:hover {
  background-color: #fff;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  /* border: 0.2rem solid #777; */
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #03CEA4;
  cursor: pointer;
}


.todo-list{
  visibility: hidden;
  transform: scale(0);
  position: absolute;
  width: 450px;
  height: 500px;
  background-color: #222227;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: 0.3s;
}

.todo-list.active{
  transform: scale(1);
  visibility: visible;
}

.written {
  width: 100%;
  height: 120px;
  background-color: #5D7AAA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #fff;
  overflow: hidden;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  transition: 0.3s;
}

.task {
  padding-left: 25px;
  font-size: 1.1rem;
  margin: 3px;
  width: 400px;
  height: 50px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  transition: 0.3s;
  border-radius: 10px;
}

.task input{
  border: none;
}

.task .task-text{
  transform: translateY(-2px);
}

.goBack{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-60px, 160px);
  background-color: #D62839;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  font-size: 3rem;
  cursor: pointer;
}